* {
    box-sizing: border-box;
  }
  body::before {
    top: 0;
    left: 0;
    content: '';
    position: fixed;
    height: 100%;
    width: 100%;
    background-image: url(https://images.pexels.com/photos/3772318/pexels-photo-3772318.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500);
    z-index: -1;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .container {
    font-family: 'Poppins', sans-serif;
    color: white;
    width: 100%;
    margin: 45px auto 0 auto;
  }
  .container header {
    text-align: center;
  }
  h1 {
    font-size: 35px;
  }
  #description {
    font-size: 18px;
    font-style: italic;
    font-weight: 300;
  }
  #survey-form {
    width: 740px;
    border-radius: 5px;
    background: lightblue;
    text-align: left;
    font-size: 20px;
    padding: 10px;
    margin: auto;
  }
  .groups {
    margin: 20px 30px;
  }
  .groups label {
    display: block;
    padding: 5px 0;
  }
  .groups input {
    margin-right: 10px;
  }
    #name, #email, #number, #dropdown, #favorite {
      width: 100%;
      padding: 10px;
      border: 1px solid white;
      border-radius: 5px;
    }
  #light {
    font-weight: 400;
  }
  .box input {
    width: 18px;
    height: 18px;
  }
  .groups textarea {
    font-size: 18px;
    width: 100%;
    border-radius: 5px;
  }
  .radio input {
    width: 18px;
    height: 18px;
  }
  .groups button {
    color: white;
    font-size: 18px;
    font-weight: 400;
    width: 100%;
    height: 40px;
    background: lightgreen;
    border: 1px solid white;
    border-radius: 5px;
  }
  #optional {
    font-size: 15px;
    font-weight: lighter;
  }
  @media(max-width: 768px) {
    #survey-form {
      width: 570px;
      margin:auto;
    }
  }
  @media(max-width: 575px) {
      #survey-form{
      width: 100%;
    }
  }
  
  